html{
    margin: 0;
}
.parent{
    
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}
span{
    display: block;
}
.button{
    width: 100px;
    height:100px;
    border: solid black 2px;
    display: inline-block;

}
#grey{
    background: grey;
}
#whitw{
    background: white;
}
#blue{
    background: blue;
}
#yellow{
    background: yellow;
}